<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  The Ruby on Rails Norex App
  is a project I developed for the assignment given to me for the second interview. For more information about me please visit my <a href="http://moinvirani.com">personal portfolio</a>
</p>