<% provide(:title, @user.username) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.username %>
      </h1>

      <%= link_to "Edit Profile", edit_user_registration_path %>
    </section>
  </aside>
</div>