<footer class="footer">
  <small>
    <a href="#">Norex App</a>
    by Moin Virani
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://moinvirani">Portfolio</a></li>
    </ul>
  </nav>
</footer>


